.tab-container {
  display: flex;
  align-items: center;
  background-color: #252526;
  border-bottom: 1px solid #333;
  width: 100%;
}

.tab {
  background-color: #2D2D2D;
  border: 1px solid transparent;
  border-bottom: none;
  color: #ccc;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #3C3C3C;
}

.tab.active {
  background-color: #1E1E1E;
  border-top: 1px solid #007acc;
  border-right: 1px solid #007acc;
  border-left: 1px solid #007acc;
  color: white;
}
